<h1>Cart:</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Price</th>
      <th>Quantity</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% Order.pending.each do |order_item| %>
      <li><tr>
        <td><%= order[order_item].name %></td>
        <td><%= order_item.price %></td>
        <td><%= order_item.quantity %></td>
        <td><%= link_to 'Show', product_path(product.id) %></td>
        <td><%= link_to 'Remove from cart', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr></li>
    <% end %>
  </tbody>
</table>