<h1>Cart:</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Price</th>
      <th>Quantity</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @order.order_items.each do |order_item| %>
      <li><tr>
        <td><%= order_item.product.name %></td>
        <td><%= order_item.product.price %></td>
        <td><%= order_item.quantity %></td>
        <td><%= link_to 'Show', order_path(@order) %></td>
        <td><%= link_to 'Remove from cart', @order, method: :update_cart, data: { confirm: 'Are you sure?' } %></td>
      </tr></li>
    <% end %>
  </tbody>
</table>