<h1>Cart:</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Price</th>
      <th>Quantity</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @order.order_items.each do |order_item| %>

      <li>
        <tr>
          <td><%= link_to "#{order_item.product.name}", product_path(order_item.product.id) %>
          </td>
          <td><%= order_item.product.price %></td>
          <td><%= order_item.quantity %></td>

          <td>
            <%= form_for order_item, url: update_cart_path({order_item: @order_item}) do |f| %>
            <%= f.hidden_field :order_item_id, value: order_item.id %>
              <div class="field">
                <%= f.label :quantity %>
                <%= f.number_field :quantity %>
              </div>
            
              <div class="actions">
                <%= f.submit "Update Cart" %>
              </div>
            </form>
            <% end %>
          </td>

          <td>
            <%= link_to 'Remove from cart', @order, method: :update_cart, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      </li>
    <% end %>
  </tbody>
</table>

<%= link_to "Continue shopping!!!!", products_path %>

<%= link_to "Checkout", checkout_path %>

