<h1>Order Confirmation:</h1>

  <p>
    Your order number is <%= @order.id %>.  Please keep this confirmation page for your records.
  </p>
  <p><%= link_to "Edit Order", cart_path%></p>

<div class="wrap">
  <div class="order">
 <table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
 <% sum = 0 %>
    <% @order.order_items.each do |order_item| %>
        <tr>
          <td><%= link_to "#{order_item.product.name}", product_path(order_item.product.id) %>
          </td>
          <td><%= number_to_currency(order_item.product.price) %></td>
          <td>
            <%= order_item.quantity %>
          </td>
          <td>
            <%= number_to_currency(total(order_item.product.price, order_item.quantity)) %>
          </td>
          <% sum += total(order_item.product.price, order_item.quantity) %>
        </tr>
    <% end %>
        <tr>
          <td colspan="3"><strong>Order Subtotal: </strong></td>
          <td> <strong><%= sum %></strong></td>
          <td></td>
        </tr>
         <tr>
          <td colspan="3">Shipping: </td>
          <td><%= @order.shipping_cost if @order.shipping_cost %></td>
        </tr>
          <tr>
            <td>Select shipping method:</td>
          <td id="ship_ops">
           <%= form_for @order do |f| %>
                <% if @order.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@order.errors.count, "error") %> prohibited this user from being saved:</h2>

                    <ul>
                    <% @order.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>

                <div class="field shipping">

                  <p><%= f.select :shipping_cost, @shipping %>
                  <%= f.submit %></p>
                </div>
                <% end %>
           </td>
          <td></td>
        </tr>
         <tr>
          <td colspan="3"><strong> Order Total: </strong></td>
          <td> <strong><%= sum + @order.shipping_cost %></strong></td>
          <td></td>
        </tr>
        <tr></tr>
         <tr>
          <td colspan="3"> <%= button_to "Confirm", confirm_path(@order) %></td>
        </tr>
  </tbody>
</table>
</div>

  <!-- <div class="shipping_options">
    <%= form_for @order do |f| %>
      <% if @order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@order.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% @order.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field shipping">
        <%= f.label :shipping_cost, "Shipping:" %><br>
       <%  @shipping.each do |option| %>
        <p><%= f.radio_button :shipping_cost, option %><%= option %><p>
        <% end %>
      </div>

      <div class="actions">
        <%= f.submit  %>
      </div>

    <% end %>
  </div> -->
</div>





