<h1>Order Confirmation:</h1>
<br>
  <p>
    Your order number is <%= @order.id %>.  Please keep this confirmation page for your records.
  </p>
  <p><%= link_to "Edit Order", cart_path%></p>

 <table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
 <% sum = 0 %>
    <% @order.order_items.each do |order_item| %>
        <tr>
          <td><%= link_to "#{order_item.product.name}", product_path(order_item.product.id) %>
          </td>
          <td><%= number_to_currency(order_item.product.price) %></td>
          <td>
            <%= order_item.quantity %>
          </td>
          <td>
            <%= number_to_currency(total(order_item.product.price, order_item.quantity)) %>
          </td>
          <% sum += total(order_item.product.price, order_item.quantity) %>
        </tr>
    <% end %>
        <tr>
          <td colspan="3"><strong>Order Subtotal: </strong></td>
          <td> <strong><%= sum %></strong></td>
          <td></td>
        </tr>
         <tr>
          <td colspan="3">Shipping: </td>
          <td>
            <select>
              <% @shipping.each do |service| %>
              <option>
                <%= service %>
              </option>
              <% end %>
            </select>
           </td>
          <td></td>
        </tr>
         <tr>
          <td colspan="3"><strong> Order Total: </strong></td>
          <td> <strong>...</strong></td>
          <td></td>
        </tr>
        <tr></tr>
         <tr>
          <td colspan="3"> <%= button_to "Confirm", confirm_path(@order) %></td>
        </tr>
  </tbody>
</table>





