<h1>Thank you for your purchase!</h1>
<br>
  <p>
    Your order number is <%= "#{@order.id}"%>.  Please keep this confirmation page for your records.
  </p>

  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
        <th>Date/Time</th>
      </tr>
    </thead>

    <tbody>
      <% total = 0 %>
      <% @old_order.order_items.each do |order_item| %>
      <% total += order_item.subtotal %>
        <tr>
          <td>
            <%= link_to "#{order_item.product.name}", product_path(Product.find(order_item.product.id)) %>
          </td>
          <td>
            <%= order_item.product.price %>
          </td>
          <td>
            <%= order_item.quantity %>
          </td>
          <td>
            <%= order_item.subtotal %>
          </td>
          <td>
            <%= Time.now.strftime("Ordered on %m/%d/%y at %I:%M%p") %>
          </td>
        </tr>   
      <% end %>
    </tbody>
  </table>
  <p>
    Your total is $<%= total %>.  Your order status is <%= @order.status %>.  You will not be charged until your order has shipped.  
  </p>
