<div><%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back to all Products', products_path %>
</div>
<p id="notice"><%= notice %></p>

<div class="prod-details">
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @product.stock %>
</p>

<p> 
  <strong>Average rating:</strong>
  <% if @reviews.nil? %>
    <%= "not yet reviewed" %>
  <% else %>
    <% @reviews.average(:rating).to_i.times do %>
      <%= image_tag "star.png" %>
    <% end %>
  <% end %>
</p><hr>
<p><strong>This product's reviews:</strong><br>
<%= render "/reviews/show" %>
</div>

<div class="prod-details">
  <%= image_tag @product.image_url.to_s %>
  <p>
    <% unless @product.stock.to_i < 1 %>
      <%= form_for @order_item, url: add_to_cart_path({product: @product.id}) do |f| %>
        <div class="field">
         <%= f.label :quantity %><br>
         <%= f.number_field :quantity %>
        </div>
      
        <div class="actions">
         <%= f.submit "Add to cart" %>
        </div>
      <% end %>
    <% end %>
  </p>
</div>
<hr>
<%= render "/reviews/form" %>